<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
<title>Pagina principal da loja virtual</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<h1>Painel Administrativo Loja Custom</h1>
			<h3>Relatorios</h3>
			<div>

			</div>
			<h3>Funcionalidades do painel</h3>
			<div style="display: grid; grid-template-columns: repeat(3, 1fr);">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Entrada Produtos</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/entrada/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/entrada/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Funcionários</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/funcionarios/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/funcionarios/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Papeis</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/papeis/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/papeis/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Permissões</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/permissoes/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/permissoes/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Estados</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/estados/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/estados/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Cidades</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/cidades/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/cidades/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Produtos</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/produtos/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/produtos/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Categorias</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/categorias/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/categorias/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>

				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">Marcas</h5>
						<div style="display: flex; justify-content: space-around">
							<a href="/administrativo/marcas/cadastrar" class="btn btn-primary"><i class="oi oi-plus"></i></a>
							<a href="/administrativo/marcas/listar" class="btn btn-primary"><i class="oi oi-eye"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>