<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Loja PW</title>
	<link href="../../assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="d-flex">

			<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 260px;">
				<ul class="nav nav-pills flex-column mb-3">
					<li class="nav-item">
						<a href="#" class="nav-link active" aria-current="page">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
							Home
						</a>
					</li>
					<li>
						<a href="/administrativo/entrada/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
							Entrada Produtos
						</a>
					</li>
					<li>
						<a href="/administrativo/funcionarios/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
							Funcionários
						</a>
					</li>
					<li>
						<a href="/administrativo/papeis/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
							Papeis
						</a>
					</li>
					<li>
						<a href="/administrativo/permissoes/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Permissões
						</a>
					</li>
					<li>
						<a href="/administrativo/estados/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Estados
						</a>
					</li>
					<li>
						<a href="/administrativo/cidades/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Cidades
						</a>
					</li>
					<li>
						<a href="/administrativo/produtos/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Produtos
						</a>
					</li>
					<li>
						<a href="/administrativo/categorias/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Categorias
						</a>
					</li>
					<li>
						<a href="/administrativo/marcas/listar" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Marcas
						</a>
					</li>
				</ul>
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					Relatórios
					<li>
						<a href="/relatorio-jasper/clientes" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Novos Clientes
						</a>
					</li>
					<li>
						<a href="/relatorio-jasper/produtos" class="nav-link link-dark">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
							Produtos
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid" style="max-width: 1300px;">
				<h1 style="margin-bottom: 32px;">Painel Administrativo Loja PW</h1>
				<h3 style="margin-bottom: 12px;">Informações</h3>
				<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px; justify-items: center; margin-bottom: 32px;">
					<div style="border: 1px solid rgba(0, 0, 0, 0.5); padding: 12px 24px; border-radius: 8px;">
						<div style="font-size: 24px;">Produtos cadastrados</div>
						<div style="font-size: 32px; text-align: end; color: #0069D9; font-weight: 600;"><span th:text="${qtdProdutos}"></span></div>
					</div>
					<div style="border: 1px solid rgba(0, 0, 0, 0.5); padding: 12px 24px; border-radius: 8px;">
						<div style="font-size: 24px;">Clientes registrados</div>
						<div style="font-size: 32px; text-align: end; color: #0069D9; font-weight: 600;"><span th:text="${qtdClientes}"></span></div>
					</div>
					<div style="border: 1px solid rgba(0, 0, 0, 0.5); padding: 12px 24px; border-radius: 8px;">
						<div style="font-size: 24px;">Faturamento Mensal</div>
						<div style="font-size: 32px; text-align: end; color: #0069D9; font-weight: 600;">R$ <span th:text="${faturamentoMensal}"></span></div>
					</div>
					<div style="border: 1px solid rgba(0, 0, 0, 0.5); padding: 12px 24px; border-radius: 8px;">
						<div style="font-size: 24px;">Faturamento Total</div>
						<div style="font-size: 32px; text-align: end; color: #0069D9; font-weight: 600;">R$ <span th:text="${faturamentoTotal}"></span></div>
					</div>
				</div>
			</div>

		</div>

	</section>
</body>
</html>