<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{cliente/fragments/layout}">
<head>
    <title>Página Principal</title>
</head>

<body>
<!-- Page Content -->
<div class="container" layout:fragment="corpo">

    <div class="row">

        <div class="col-lg-3">
            <h3 class="my-4">Loja PW</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">Categoria 1</a>
                <a href="#" class="list-group-item">Categoria 2</a>
            </div>
        </div>

        <div class="col-lg-9">

            <div class="row">

                <div class="col mb-5" th:each=" produto : ${listaProdutos}">
                    <div class="card h-100">
                            <img th:src="@{/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" class="img-fluid"/>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><span th:text="${produto.descricao}"></span></h5>
                                <!-- Product price-->
                                <span th:text="${produto.valorVenda}"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-lg btn-block" th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}" role="button">Comprar </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>